/target/
/.settings/
/.project
/.classpath
/example2/.project
/example2/.classpath
/example2/target/
/example2/.settings/
/example1/.project
/example1/.classpath
/example1/target/
/example1/.settings/