/target/
/.settings/
/.project
/.classpath
/example2/.project
/example2/.classpath
/example2/target/
/example2/.settings/
/example1/.project
/example1/.classpath
/example1/target/
/example1/.settings/
/basic/target/
/basic/.project
/basic/.classpath
/basic/.settings/
/rest/target/
/rest/.project
/rest/.classpath
/rest/.settings/
/service/target/
/service/.project
/service/.classpath
/service/.settings/
/restlet/target/
/restlet/.project
/restlet/.classpath
/restlet/.settings/
/sling/target/
/sling/.project
/sling/.classpath
/sling/.settings/
/restlet/bin/